@media (min-width: 768px) {

    
    .header-content {
        justify-content: center;
    }

    #hamburger {
        display: none;
    }

    
    nav {
        display: block;
        background-color: transparent;
        padding: 0;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    nav a {
        padding: 0.5rem 1rem;
    }

    
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    main h1 {
        font-size: 2rem;
    }
}